extends layout

block content
  h1= "Registration page"

  form(id="registrationForm", method="post", action="/api/user/register/")
    label(for="email") Email: 
    input(type="email", id="email", name="email", placeholder='Enter email')
    br
    br
    label(for="password") Password: 
    input(type="password", id="password", name="password", placeholder='Enter password')
    br
    br
    input(type="submit", class="btn", value="Register")

  div(id='errorContainer')
  
  script(src="/javascripts/register.js")